h3 {
  color: red;
}

/**Color properties 

1. RGB - rgb(red value, blue value, green value) | 0-255 | 8-bit
2. HEX - 0-9,A,B,C,D,E,F, #ff0000

Opacity - Alpha (0-1)
**/

.heading-2 {
  /* color: rgb(10, 247, 112); */
  /* color: #3503cb; Hex */
  /* color: rgba(255, 0, 0, 0.5); */
  color: #035151d8;
  background-color: #00800050;
}

/* Font properties */

.heading-2 {
  font-family: "Helvetica";
  font-size: 4rem;
  font-weight: lighter;
  font-style: italic;
}

.heading-3 {
  font-family: "Courier";
  font-size: 3rem;
  font-weight: normal;
}
